@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rockwell";
  font-weight: 400;
  height: 100vh;
  color: #333;
  /* background-image: linear-gradient(to top left, #70c319 0%, #045702 100%); */
  background: #242624;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
/* main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
} */

main {
  position: relative;
  width: 50%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.player {
  flex: 50%;
  padding: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
/* .name {
  position: relative;
  font-size: 4rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
} */
/* .name {
  position: relative;
  font-size: 4rem;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 2rem;
    letter-spacing: 0.03em;
    word-spacing: 0.06em;
  }
} */

.name {
  position: relative;
  font-size: 2.5vw;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: calc(3vw + 3vh);
  font-weight: 300;
  color: #000000;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #1a701e;
  opacity: 0.8;
  border-radius: 10%;
  color: #fff;
  width: 65%;
  padding: 2rem;
  height: 39%;
  text-align: center;
  transition: all 0.75s;
  box-sizing: border-box;
}

.current-label {
  margin-bottom: 1rem;
  font-size: calc(0.8vw + 0.8vh);
  color: #ddd;
}

.current-score {
  font-size: calc(2vw + 2vh);
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1vw;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  height: 7%;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

/* .btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
} */

.btn--new {
  top: 3%;
}
.btn--draw {
  top: 80%;
}
.btn--hold {
  top: 90%;
}
.btn--turn {
  top: 90%;
}
.btn--spell {
  top: 3%;
}
.btn--log {
  bottom: 5%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:disabled {
  border: 1px solid #999999;
  background-color: #282727;
  color: #666666;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}

.card {
  position: absolute;
  left: 50%;
  top: 8.5rem;
  transform: translateX(-50%);
  height: 55%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

/* .dice {  // This will be the code I use later for programming dice rolls to see who goes first
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
} */

.player--winner {
  background-color: #5c5cda;
}

.player--loser {
  background-color: #f11212bc;
}

.player--winner .name {
  font-weight: 700;
  color: #ffffff;
}

.hidden {
  display: none;
}

.top-bar {
  position: absolute;
  top: 3rem;
  color: #ddd;
  cursor: pointer;
  font-size: 350%;
}

.about {
  left: 70%;
}

.how-to {
  left: 5%;
}

.lore {
  left: 25%;
}

.help {
  right: 5%;
}

.copyright {
  position: absolute;
  bottom: 3rem;
  right: 5%;
  color: #ddd;
  font-size: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.log {
  resize: none;
  background-color: black;
  color: white;
  position: absolute;
  left: 10rem;
  height: 70%;
  width: 17%;
  font-size: 14pt;
}

.tengu-img {
  position: absolute;
  height: 10%;
  top: 2rem;
}

.round-msg {
  height: 10rem;
  font-size: 2rem;
  color: white;
  white-space: pre-wrap;
  text-align: center;
}

.ofuda--0 {
  height: 10rem;
  position: relative;
  top: 15%;
  cursor: pointer;
  left: 15%;
}

.ofuda--1 {
  height: 10rem;
  position: absolute;
  top: 15%;
  left: 95%;
  cursor: pointer;
}

.disabled-ofuda {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #282727;
  color: #666666;
}

.submit-button {
  /* align to the right */
  float: right;
  /* add some margin */
  font-family: "Rockwell";
  padding: 10px;
}

.form-button {
  width: 25%;
  height: 50px;
  border: none;
  background-color: #333;
  color: white;
  font-family: "Rockwell";
}

.form-button-clicked {
  background-color: rgb(149, 48, 171);
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.total-score-label {
  font-size: 3rem;
}

@keyframes rise {
  from {
    transform: translateY(75%) scale(1);
  }
  to {
    transform: translateY(-10%) scale(2);
  }
}

.rounds-animation {
  font-family: "Rockwell";
  font-size: 46px;
  text-align: center;
  margin-top: -10%;
  color: white;
  -webkit-text-stroke: 2px black;
  animation: rise 3s forwards;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/* Experimenting */
.custom-alert {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

.custom-alert-close {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 50px;
}
